<div class="gigs-container">
    <% gigs_boh.each do |gig| %>
        <div class="gig">
            <h3 class="descriptions">Date</h3>
            <p class="date"><%= gig["date"] %></p>
            <h2 class="titles"><%= gig["title"] %></h2>
            <h3 class="descriptions">Description</h3>
            <p class="white"><%= gig["description"] %></p>
            <% if logged_in? %>
                <% if current_user["id"] == gig["user_id"] %>
                    <div class="edit-delete-gig">
                        <form action="/gigs/<%= gig["id"] %>" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button class="hidden-btn"><i class="fa fa-eraser" aria-hidden="true"></i> Delete </button>
                        </form>
                        <a class="white" href="/gigs/<%= gig["id"] %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDIT</a>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>