<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ANU</title>
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="wrapper">
    
    <h1>ANU</h1>
    <p class="moto">A freelance gig platform for the hospitality industry</p>
    <img class="hp-img" src="https://thumbs.dreamstime.com/b/abstract-background-vector-organic-irregular-lines-maze-pattern-black-white-chaotic-design-88318932.jpg" alt="">
    <p></p>

    <div class="home-bar">
    </div>
    <a href="/" class="<%= "active-home" if request.path == "/" %> home"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    <div>
      <a href="/users/new" class="<%= "active-signup" if request.path == "/users/new" %>"><i class="fa fa-user-plus" aria-hidden="true"></i></i>Sign up</a>
      <div class="border <%= "active-border-signup" if request.path == "/users/new" %>"></div>
    </div>

    <nav class="nav-bar">
      <div class="tabs">
        <a href="/how-it-works" class="<%= "active" if request.path == "/how-it-works" %>">How it works</a>
        <div class="border <%= "active-border" if request.path == "/how-it-works" %>"></div>
      </div>
      <div class="tabs">
        <a href="/browse-staff" class="<%= "active" if request.path == "/browse-staff" %>">Browse staff</a>
        <div class=" border <%= "active-border" if request.path == "/browse-staff" %>"></div>
      </div>
      <div class="tabs">
        <a href="/browse-gigs" class="<%= "active" if request.path == "/browse-gigs" %>">Browse gigs</a>
        <div class=" border <%= "active-border" if request.path == "/browse-gigs" %>"></div>
      </div>
    </nav>
  </div>
  <div class="border-image"></div>
  <%= yield %>

</body>
</html>
