<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ANU</title>
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="wrapper">
    
    <h1>ANU</h1>
    <p class="moto">A freelance gig platform for the hospitality industry</p>
    <img class="hp-img" src="https://thumbs.dreamstime.com/b/abstract-background-vector-organic-irregular-lines-maze-pattern-black-white-chaotic-design-88318932.jpg" alt="">
    <p></p>

    <div class="home-bar"></div>
    <a href="/" class="<%= "active-home" if request.path == "/" %> home">Home</a>
    
    <!-- LOG IN -->

    <% if logged_in? %>

        <form action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
        </form>
        <a href="/profile" class="profile <%= "active-login" if request.path == "/profile" %>"><i class="fa fa-user" aria-hidden="true"></i></i> Profile</a>

    <% else %>
       
        <a href="/session/new" class="login <%= "active-login" if request.path == "/session/new" %>"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        <a href="/users/new" class="signup <%= "active-signup" if request.path == "/users/new" %>">Sign up</a>

    <% end %>

    <!-- NAVBAR -->

    <nav class="nav-bar">
      <div class="tabs">
        <a href="/how-it-works" class="<%= "active" if request.path == "/how-it-works" %>">How it works</a>
        <p class=" border <%= "active-border" if request.path == "/how-it-works" %>">_______</p>
      </div>
      <div class="tabs">
        <a href="/browse-staff" class="<%= "active" if request.path == "/browse-staff" %>">Browse staff</a>
        <p class=" border <%= "active-border" if request.path == "/browse-staff" %>">_______</p>
      </div>
      <div class="tabs">
        <a href="/browse-gigs" class="<%= "active" if request.path == "/browse-gigs" || request.path == "/gigs-front-of-house" || request.path == "/gigs-back-of-house" %>">Browse gigs</a>
        <p class=" border <%= "active-border" if request.path == "/browse-gigs" || request.path == "/gigs-front-of-house" || request.path == "/gigs-back-of-house" %>">_______</p>
      </div>
    </nav>
  </div>
  <div class="border-image"></div>
  <%= yield %>
</body>
</html>
